<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	
	<servlet>
		<servlet-name>NewAct</servlet-name>
		<servlet-class>com.myproject.view.NewActorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NewAct</servlet-name>
		<url-pattern>/newAct</url-pattern>
	</servlet-mapping>
	
  <servlet>
		<servlet-name>NewFil</servlet-name>
		<servlet-class>com.myproject.view.NewFilmServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NewFil</servlet-name>
		<url-pattern>/newFil</url-pattern>
	</servlet-mapping>
  
    <servlet>
		<servlet-name>NewCon</servlet-name>
		<servlet-class>com.myproject.view.NewContractServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NewCon</servlet-name>
		<url-pattern>/newCon</url-pattern>
	</servlet-mapping>



	<welcome-file-list>
		<welcome-file>Begin.html</welcome-file>
	</welcome-file-list>
</web-app>
